@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
.body,
html {
    font-family: 'Poppins', sans-serif;
}

.input-lg {
    padding: 0.5rem;
    font-size: 1rem; 
}

.principal{
margin-left: 4rem;
}

@media (max-width: 640px) {
    #fotoPerfil {
      width: 350px; /* Manter o mesmo tamanho da imagem para telas menores */
      height: 300px; /* Manter o mesmo tamanho da imagem para telas menores */
    }
    .principal{
        margin-left: 1rem;
    }
  }

#formAdicionarCliente input{
height: 2rem;
}
  